{% extends "base.html" %}
{% block password_reset %}

    <div id="signup">
        <h2><span class="fontawesome-lock"></span>Reset Password</h2>
        <fieldset>
            <form id="passwordResetForm" method="post" action="/accounts/password_reset/">
                {% csrf_token %}
                {% if invalid %}
                <p>Your username/password don't match. Please login again!</p> 
                {% endif %}
                <p><label for="text">Địa chỉ mail:</label>
                <p><input type="email" name="email" maxlength=100, required=true  ></p>
                
                
                <input type="submit" value="Reset Now" />
                
            </form>
            
            <a id="signup" href='/accounts/register/'>Đăng ký?</a>
        </fieldset>
    </div> 
{% endblock %} 