{% extends "base.html" %}
{%block password_change %}


      

    <div id="login">
        <h2><span class="fontawesome-lock"></span>Change Password</h2>
        <fieldset>
            <form id="login_form" method="post" action="/accounts/password_change/">
                {% csrf_token %}
                {% if valid %}
                <p>Bạn đã thay đổi mật khẩu thành công!</p>
                {%else%}
                {{ form.old_password.errors}}
                <p><label for="id_old_password"> Mật khẩu cũ:</label></p>
                <p><input type="password" name="old_password" id="id_old_password" required=True />
                 {{ form.new_password2.errors}}
                <p><label for="id_new_password1">Mật khẩu mới:</label></p>
                <p><input type="password" name="new_password1" id="id_new_password1" required=True />
                <p><label for="id_new_password2">Xác nhận mật khẩu mới:</label></p>
                <p><input type="password" name="new_password2" id="id_new_password2"  required=True/>
                <input type="submit" value="Change Now" />
                {% endif %}
            </form>
            
            
        </fieldset>
    </div> 
{% endblock %} 
